
{% extends 'index.html' %}
{% block body %}
<h2>{{search|title}}</h2>
<div class="row">
{% for post in final_postings %}
<div class="w3-mobile w3-third">
      <div class="card" style="height:100%;">
        <div class="card-image">
          <a href="{{post.1}}"><img src="{{post.3}}" alt=" " height="174.78px;">
          </a>
        </div>
          <center>
        <div class="card-content" style="overflow:hidden; height:132px; text-align:center;">
            <center>
          <p style="text-align: center">{{post.0}}</p>
                </center>
        </div>
          </center>
        <div class="card-action">
          <a href="{{post.1}}">View listing : Price {{ post.2 }}</a>
        </div>
      </div>
    </div>

{% endfor %}
</div>




{% endblock%}